<div id="carousel{{ module }}" class="owl-carousel">
{% for banner in banners %}
  <div class="item">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
  {% endfor %}
</div>
<script type="text/javascript"><!--
$('#carousel{{ module }}.owl-carousel').owlCarousel({
	loop:true,
	rtl: $('html').attr('dir') == 'rtl'? true : false,
	autoplay:true,
	responsive:{
		0:{
			items:1
		},
		350:{
			items:2
		},
		544:{
			items:3
		},
		768:{
			items:3
		},
		992:{
			items:4
		},
		1200: {
			items:6
		},
		1500: {
			items:6
		}
	}
});
--></script>