<section id="{{ ishi_randomnumer }}" class="ishiparallaxbannerblock">
		<div class="parallax_banner {{ parallax }}" data-source-url="{{ bgimage }}" style="background-image: url({{ bgimage }})" data-counter="{{ enddate }}" data-deal="{{ deal }}">
			<div class="container">
				{{ html }}
			</div>	
		</div>
</section>
<style>
	#{{ ishi_randomnumer }}{
		background: {{ bg_color }};
	}
</style>