<div id="_mobile_column_left" class="container"></div>
<div id="_mobile_column_right" class="container"></div>
<footer id="footer" class="{{ ishome }} footer">
  <div class="footer-before">    
    <div class="container"> 
      <div class="row">
           {{ footerbefore }} 
      </div>
    </div>
  </div>
      <div class="footer-container">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12 item__block">
              {% if informations %}
              <div class="title">Справочная информация</div>
              <div class="item__block_list">
                <div id="information-container" class="collapse footer-dropdown">    
                  <ul class="list-unstyled">
                   {% for information in informations %}
                    <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 item__block">
              <div class="title">Популярные разделы</div>
              <div class="item__block_list">
                <ul class="list-unstyled">
                    <li><a href="http://cessa-shoes.ru/novinki">Новинки</a></li>
                    <li><a href="http://cessa-shoes.ru/sale">Sale</a></li>
                    <li><a href="http://cessa-shoes.ru/predzakaz">Предзаказ</a></li>
                  </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 item__block">
              <div class="title">Покупателю</div>
              <div class="item__block_list">
                <ul class="list-unstyled">
                  <li><a href="{{ account }}">{{ text_account }}</a></li>
                    <li><a href="{{ order }}">{{ text_order }}</a></li>
                    <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                  </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 item__block">
              <div class="title">Присоединяйтесь</div>
              <div class="item__block_list social">
                <div class="social__list">
                  <div class="item"><a href="https://vk.com/cessa_shoes" target="_blank"><img src="/catalog/view/theme/fashionist/img/icons/vk_icon.svg" alt=""></a></div>
                  <div class="item"><a href="https://www.instagram.com/cessa_shoes/" target="_blank"><img src="/catalog/view/theme/fashionist/img/icons/insta_icon.svg" alt=""></a></div>
                  <div class="item"><a href="https://t.me/TNKHPGY2GtA3ZTZi" target="_blank"><img src="/catalog/view/theme/fashionist/img/icons/tg_icon.svg" alt=""></a></div>
                  <div class="item"><a href="https://wa.clck.bar/79251136648" target="_blank"><img src="/catalog/view/theme/fashionist/img/icons/wa_icon.svg" alt=""></a></div>
                </div>
                <div class="call"><a href="tel:+7 925-113-66-48">
                  <img src="/catalog/view/theme/fashionist/img/icons/phone_black.svg" alt="">+7 925-113-66-48</a></div>
                <div class="call"><a href="mailto:cessashoes@gmail.com">
                  <img src="/catalog/view/theme/fashionist/img/icons/mail_black.svg" alt="">cessashoes@gmail.com</a></div>
                <div class="footer__logo">
                  <a href="/"><img src="https://dev.cessa-shoes.ru/image/catalog/logo-cessa-shoes.png" alt=""></a>
                </div>
              </div>
            </div>
            {{ footermiddle }}  
        </div>
    </div>
  </div>
  <div class="footer-after">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="footer-aftertext">{{ powered }}</p>
          </div>
          <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{ footerafter }}</div> -->
        </div>
    </div>
  </div>
  <a id="slidetop" href="#" ></a>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(86730422, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/86730422" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script async src="//files.jumpoutpopup.ru/56640f43558c138ff5a4.js"></script>
</body></html>