{% macro alert_icon(type) %}{% spaceless %}
		{% if type == 'error' %}
			fa-times-circle
		{% elseif type == 'warning' %}
			fa-exclamation-triangle
		{% elseif type == 'success' %}
			fa-check-circle
		{% elseif type == 'info' %}
			fa-info-circle
		{% else %}
		{% endif %}
{% endspaceless %}{% endmacro %}
{{ header }}
<!-- confirm deletion -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="confirmDeleteLabel">{{ text_confirm_delete }}</h4>
			</div>
			<div class="modal-body">
				<p>{{ text_are_you_sure }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> {{ button_cancel }}</button>
				<button type="button" class="btn btn-danger delete"><i class="fa fa-trash-o"></i> {{ button_delete }}</button>
			</div>
		</div>
	</div>
</div>
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="button" data-toggle="tooltip" data-container="body" data-placement="bottom" title="{{ button_apply }}" class="btn btn-success" id="btn-apply" data-url="{{ save }}" data-form="#sForm" data-context="#content" data-vm="ExtVM" data-overlay="#page-overlay" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-check"></i></button>
				<button type="submit" data-toggle="tooltip" data-container="body" data-placement="bottom" title="{{ button_save }}" class="btn btn-primary" id="btn-save" data-url="{{ save }}" data-form="#sForm" data-context="#content" data-overlay="#page-overlay" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-save"></i></button>
				<button type="button" data-toggle="tooltip" data-container="body" data-placement="bottom" title="{{ button_delete }}" class="btn btn-danger" id="btn-delete" data-url="{{ delete }}" data-form="#sForm" data-context="#content" data-overlay="#page-overlay" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-trash-o"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" data-container="body" data-placement="bottom" title="{{ button_cancel }}" class="btn btn-default" id="btn-cancel" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-reply"></i></a>
				<a href="{{ general_settings }}" data-toggle="tooltip" data-container="body" data-placement="bottom" title="{{ button_general_settings }}" class="btn btn-default btn-nav-link" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-cog"></i></a>
			</div>
			<h1><i class="fa fa-files-o fa-fw ext-icon"></i> {{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="alerts">
		<div class="container-fluid" id="alerts">
			{% for type, _alerts in alerts %}
				{% for alert in _alerts %}
					{% if alert %}
			<div class="alert alert-{% if type == "error" %}danger{% else %}{{ type }}{% endif %} fade in">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<i class="fa {{ _self.alert_icon(type) }}"></i>{{ alert }}
			</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	</div>

	<div class="container-fluid bull5i-content bull5i-container">
		<div id="page-overlay" class="bull5i-overlay fade in">
			<div class="page-overlay-progress"><i class="fa fa-refresh fa-spin fa-5x text-muted"></i></div>
		</div>

		<form action="{{ save }}" method="post" enctype="multipart/form-data" id="sForm" class="form-horizontal" role="form">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-pencil fa-fw"></i> {{ text_edit_module }}</h3></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="alert alert-info">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<i class="fa fa-info-circle"></i> {{ text_product_layout }}
							</div>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 col-md-2 control-label" data-bind="attr: {for: 'name{{ default_language }}'}, css: {'has-error': names.hasError}">{{ entry_name }}</label>
									<!-- ko foreach: names -->
									<div class="col-sm-6 col-md-6 col-lg-5" data-bind="css: {'multi-row col-sm-offset-3 col-md-offset-2': $index() != 0, 'has-error': name.hasError}">
										<div class="input-group">
											<span class="input-group-addon" data-bind="attr: {title: $root.languages[language_id()].name}, tooltip: {title: $root.languages[language_id()].name}"><img data-bind="attr: {src: $root.languages[language_id()].flag, title: $root.languages[language_id()].name}" /></span>
											<input data-bind="attr: {name: 'names[' + language_id() + ']', id: 'name' + language_id()}, value: name" class="form-control">
										</div>
									</div>
									<div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 has-error" data-bind="visible: name.hasError">
										<span class="help-block" data-bind="text: name.errorMsg"></span>
									</div>
									<!-- /ko -->
								</div>
								<div class="form-group">
									<label class="col-sm-3 col-md-2 control-label" data-bind="attr: {for: 'show_in_tab'}">{{ entry_show_in_tab }}</label>
									<div class="col-sm-3 col-md-2 fc-auto-width">
										<select data-bind="attr: {name: 'show_in_tab', id: 'show_in_tab'}, value: show_in_tab" class="form-control">
											<option value="0">{{ text_no }}</option>
											<!-- ko if: !tab_position_used() || show_in_tab() == '1' --><option value="1">{{ text_yes }}</option><!-- /ko -->
										</select>
									</div>
									<div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 help-container">
										<span class="help-block help-text">{{ help_show_in_tab }}</span>
									</div>
								</div>
								<div class="form-group" data-bind="css: {'has-error': products_per_page.hasError}">
									<label class="col-sm-3 col-md-2 control-label" data-bind="attr: {for: 'per_page'}">{{ entry_products_per_page }}</label>
									<div class="col-sm-2 col-lg-1">
										<input data-bind="attr: {name: 'products_per_page', id: 'per_page'}, value: products_per_page" class="form-control text-right">
									</div>
									<div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 has-error" data-bind="visible: products_per_page.hasError && products_per_page.errorMsg">
										<span class="help-block" data-bind="text: products_per_page.errorMsg"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 col-md-2 control-label" data-bind="attr: {for: 'limit'}">{{ entry_limit }}</label>
									<div class="col-sm-2 col-lg-1">
										<input data-bind="attr: {name: 'limit', id: 'limit'}, value: limit" class="form-control text-right">
									</div>
								</div>
								<div class="form-group" data-bind="css: {'has-error': image_width.hasError}">
									<label class="col-sm-3 col-md-2 control-label" data-bind="attr: {for: 'image_width'}">{{ entry_image_width }}</label>
									<div class="col-sm-2 col-lg-1">
										<input data-bind="attr: {name: 'image_width', id: 'image_width'}, value: image_width" class="form-control text-right">
									</div>
									<div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 has-error" data-bind="visible: image_width.hasError && image_width.errorMsg">
										<span class="help-block" data-bind="text: image_width.errorMsg"></span>
									</div>
								</div>
								<div class="form-group" data-bind="css: {'has-error': image_height.hasError}">
									<label class="col-sm-3 col-md-2 control-label" data-bind="attr: {for: 'image_height'}">{{ entry_image_height }}</label>
									<div class="col-sm-2 col-lg-1">
										<input data-bind="attr: {name: 'image_height', id: 'image_height'}, value: image_height" class="form-control text-right">
									</div>
									<div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 has-error" data-bind="visible: image_height.hasError && image_height.errorMsg">
										<span class="help-block" data-bind="text: image_height.errorMsg"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 col-md-2 control-label" data-bind="attr: {for: 'stock_only0'}">{{ entry_stock_only }}</label>
									<div class="col-sm-9 col-md-10">
										<label class="radio-inline">
											<input type="radio" name="stock_only" id="stock_only1" value="1" data-bind="checked: stock_only"> {{ text_yes }}
										</label>
										<label class="radio-inline">
											<input type="radio" name="stock_only" id="stock_only0" value="0" data-bind="checked: stock_only"> {{ text_no }}
										</label>
									</div>
									<div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 help-container">
										<span class="help-block help-text">{{ help_stock_only }}</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 col-md-2 control-label" data-bind="attr: {for: 'lazy_load'}">{{ entry_lazy_load }}</label>
									<div class="col-sm-9 col-md-10">
										<label class="radio-inline">
											<input type="radio" name="lazy_load" id="lazy_load1" value="1" data-bind="checked: lazy_load"> {{ text_yes }}
										</label>
										<label class="radio-inline">
											<input type="radio" name="lazy_load" id="lazy_load0" value="0" data-bind="checked: lazy_load"> {{ text_no }}
										</label>
									</div>
									<div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 help-container">
										<span class="help-block help-text">{{ help_lazy_load }}</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 col-md-2 control-label" for="status">{{ entry_status }}</label>
									<div class="col-sm-2 fc-auto-width">
										<select name="status" id="status" data-bind="value: status" class="form-control">
											<option value="1">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										</select>
										<input type="hidden" data-bind="attr: {name: 'name'}, value: name() + (show_in_tab() == '1' ? ' (Tab)' : '')">
										<input type="hidden" data-bind="attr: {name: 'module_id'}, value: module_id">
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript"><!--
!function(e,t,o){var a,s={{ errors|json_encode() }},r={{ languages|json_encode() }},i={{ names|json_encode()|html_entity_decode() }};e.texts=t.extend({},e.texts,{error_ajax_request:"{{ error_ajax_request|addslashes() }}",error_module_name:"{{ error_module_name|addslashes() }}",error_positive_integer:"{{ error_positive_integer|addslashes() }}",default_name:"{{ text_default_module_name|addslashes() }}"});var n=function(e){isNaN(parseInt(e))||parseInt(e)<0?(this.target.hasError(!0),this.target.errorMsg(this.message)):(this.target.hasError(!1),this.target.errorMsg(""))},d=function(e,t,o){this.id=e,this.name=t,this.flag=o},l=function(t,o,a){var s=this;this.language_id=ko.observable(t),this.name=ko.observable(o).extend({required:{message:e.texts.error_module_name,context:s}}),this.hasError=ko.computed(this.hasError,this)};l.prototype=new e.observable_object_methods;var _=function(){var o=this,a={};this.languages={},t.each(r,function(t,s){o.languages[t]=new d(s.language_id,s.name,s.hasOwnProperty("image")&&s.image?"view/image/flags/"+s.image:"language/"+s.code+"/"+s.code+".png"),i.hasOwnProperty(s.language_id)?a[s.language_id]=i[s.language_id]:a[s.language_id]=e.texts.default_name}),this.module_id=ko.observable("{{ module_id }}"),this.names=ko.observableArray(t.map(a,function(e,t){return new l(t,e,o)})).withIndex("language_id").extend({hasError:{check:!0,context:o},applyErrors:{context:o},updateValues:{context:o}}),this.name=ko.computed(function(){return o.names.findByKey("{{ default_language }}").name()}),this.show_in_tab=ko.observable("{{ show_in_tab }}"),this.limit=ko.observable("{{ limit }}").extend({numeric:{precision:0,context:o}}),this.image_width=ko.observable("{{ image_width }}").extend({numeric:{precision:0,context:o},validate:{message:e.texts.error_positive_integer,context:o,method:n}}),this.image_height=ko.observable("{{ image_height }}").extend({numeric:{precision:0,context:o},validate:{message:e.texts.error_positive_integer,context:o,method:n}}),this.products_per_page=ko.observable("{{ products_per_page }}").extend({numeric:{precision:0,context:o},validate:{message:e.texts.error_positive_integer,context:o,method:n}}),this.status=ko.observable("{{ status }}"),this.stock_only=ko.observable("{{ stock_only }}"),this.lazy_load=ko.observable("{{ lazy_load }}"),this.tab_position_used=ko.observable(parseInt("{{ tab_position_used }}"))};_.prototype=new e.observable_object_methods,t(function(){a=e.view_model=new _,e.view_models=t.extend({},e.view_models,{ModuleVM:e.view_model}),a.applyErrors(s),ko.applyBindings(a,t("#content")[0]),e.onComplete(t("#page-overlay"),t("#content"))})}(window.bull5i=window.bull5i||{},jQuery);
//--></script>
{{ footer }}
